src/vendor/
src/web/assets/*
src/composer.lock
src/composer.phar
/docs/
src/protected/config/db.php
src/protected/config/gii.php
/tests/codeception/_log
composer.phar
composer.lock

nbproject
.DS_Store
.idea
*.swp
.vagrant
