
header {
  background-color: #fff;
  margin-top: 10px;
}

.container {
  padding-left: -20px !important;
}

.row_scroller {
  width: 90%; 	
  line-height: 1;
  padding-left: 5%;
  padding-right: 5%;
  display: table;
  background-color: #fff6e7;
}

.menu_scroller {
  max-width: 200px;
  min-width: 170px;
  float: left;
  min-height: 1px;
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #000000 !important;
}

.menu_scroller img{
  float: left;
  width: 45px !important;
  padding-right: 5px;
}

.menu_scroller p {
  top: 10px !important;
  position: relative !important;
  font-size: 0.9em;
  width: 135px;
  margin-left: 10px;
  height: 30px;
}

.container_services {
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-image: url("../../web/images/background_servicios-01.png"); 
  background-size: cover; 
  width: 100%; 
  margin: 0 auto;
  height: 4159px;
}

.container_quienes_somos, .container_quienes_somos_oculta {
  background-color: #fff6e7;
  /*
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-image: url("../../../../images/background_quienes_somos.png"); 
  background-size: cover; 
  width: 100%; 
  margin: 0 auto;
  */

}

.container_quienes_somos_oculta {
  display: none;
}

.container_quienes_somos img {

  width: 100%;

}  

.descripcion_quienes_somos {
  position: absolute;
  top: 13%;
  width: 43%;
  padding-left: 5%;
  font-size: 1.3em;
  line-height: 20px;
  text-align: justify;
}

.mision_quienes_somos {
  position: absolute;
  top: 39%;
  width: 44%;
  padding-left: 5%;
  font-size: 1.3em;
  line-height: 20px;
  text-align: justify;
}

.mision_title {
  font-size: 1.8em;
  padding-bottom: 3%;
  margin-left: 5%;
  color: #f18e22;
  font-weight: bold;
}

.vision_quienes_somos {
  position: absolute;
  top: 52%;
  width: 44%;
  padding-left: 5%;
  font-size: 1.3em;
  line-height: 20px;
  text-align: justify;
}

.vision_title {
  font-size: 1.8em;
  padding-bottom: 3%;
  margin-left: 5%;
  color: #f18e22;
  font-weight: bold;
}




.serv_1 {
	height: 462px;
  clear:both;
  background: rgba(244, 156, 59, 0.85);
}

.serv_2 {
	height: 462px;
  clear:both;
  background: rgba(61, 97, 167, 0.7);
}

.serv_3 {
	height: 462px;
  clear:both;
  background: rgba(244, 156, 59, 0.85);
}

.serv_4 {
	height: 462px;
  clear:both;
  background: rgba(61, 97, 167, 0.7);
}

.serv_5 {
	height: 462px;
  clear:both;
  background: rgba(244, 156, 59, 0.85);
}

.serv_6 {
	height: 462px;
  clear:both;
  background: rgba(61, 97, 167, 0.7);
}

.serv_7 {
	height: 462px;
  clear:both;
  background: rgba(244, 156, 59, 0.85);
}

.serv_8 {
	height: 462px;
  clear:both;
  background: rgba(61, 97, 167, 0.7);
}

.serv_9 {
	height: 462px;
  clear:both;
  background: rgba(244, 156, 59, 0.85);
}


.long_text p {
  width: 160px;
}

.serv_1 p.text_title, .serv_2 p.text_title, .serv_3 p.text_title, .serv_4 p.text_title, .serv_5 p.text_title, 
.serv_6 p.text_title, .serv_7 p.text_title, .serv_8 p.text_title, .serv_9 p.text_title {
  font-size: 2.0em !important;
  color: #FFFFFF;
  padding: 5%;
  font-weight: bold;
}

.serv_1 p.text_title img, .serv_2 p.text_title img, .serv_3 p.text_title img, .serv_4 p.text_title img, 
.serv_5 p.text_title img, .serv_6 p.text_title img, .serv_7 p.text_title img, .serv_8 p.text_title img,
.serv_9 p.text_title img {
  float: right;
}

.serv_1 p.text_content, .serv_2 p.text_content, .serv_3 p.text_content, .serv_4 p.text_content, .serv_5 p.text_content,
.serv_6 p.text_content, .serv_7 p.text_content, .serv_8 p.text_content, .serv_9 p.text_content{
  font-size: 1.5em !important;
  color: #FFFFFF;
  margin-bottom: 30px;
  padding-left: 5%;
  padding-right: 27%;
  height:auto; 
  word-wrap: break-word; 
  vertical-align:middle;
}

.paragraph_title {
  height: 35px;
  font-size: 1.3em;
  margin-top: 8px;
}
.paragraph2 {
  margin-top: 15px;
  height: 50px;
  margin-left: 5px;
}
.paragraph {
  margin-top: 15px;
  height: 120px;
}

p.paragraph, p.paragraph_title, p.fancybox {
  margin-left: 5px;
}

img.pais {
  cursor: pointer;
}

p.direction {
  margin-right: 65px !important;
}

.correo {
  float: left;
  background-color: #eb5c29;
  width: 83%;
  color: #FFFFFF;
  font-size: 1.7em;
  padding: 10px;
  width: 140px;
  margin-left: 15px;
}
.ver_mapa a{
  color: #F18E21;
  text-decoration: none;
  margin-left: 5px;

}
.ver_mapa {
  float: left;
  background-color: #fff;
  color: #F18E21;
  font-size: 1.7em;
  padding: 5px;
  width: 140px;
  margin: -57px 19px 0 15px;
}

.ima_correo {
  width: 25px !important;
}

.container {
  padding-top: 0 !important;
}

.cols {
  width: 25%;
}

.row-fluid .cols {
  display: inline;
  min-height: 30px;
  float: left;
  margin-left: 0%;
}

.footer {
  background-color: #343434;
}

.footer p {
  margin-left: 15px;
  font-size: 1em !important;
}

img.logo {
  width: 100%;
  margin-left: 10%;
}

.client {
  padding-top: 6%;
  padding-bottom: 0%;
}

.client img{
  max-width: 90%;
}

.cliente {
  color:#ec6b18;
  font-size: 2em;
  margin-left: 55px;
}

.clientes {
  color: #FFFFFF;
  text-align: left;
  font-size: 2.1em;
  margin-left: 5%;
  padding-bottom: 7%;
  line-height: 120%;
}

.client_1, .client_2, .client_3, .client_4, .client_5, .client_6, .client_7, .client_8, .client_9, .client_10,
.client_11, .client_12, .client_13, .client_14, .client_15 {
  background: url(../../../../images/cliente_imagen.png) center center no-repeat;
  display: inline-table;
  margin: 1%;
  width: 210px !important
}

.client_1 {
  background-position: -6% 0%;
  height: 100px;
  width: 160px;
}

.client_2 {
  background-position: 47% 0%;
  height: 103px;
  width: 160px;
}

.client_3 {
  background-position: 102% 0%;
  height: 100px;
  width: 160px;
}

.client_4 {
  background-position: -6% 25%;
  height: 100px;
  width: 160px;
}

.client_5 {
  background-position: 47% 28%;
  height: 100px;
  width: 160px;
}

.client_6 {
  background-position: 102% 28%;
  height: 100px;
  width: 160px;
}

.client_7 {
  background-position: -6% 53%;
  height: 100px;
  width: 160px;
}

.client_8 {
  background-position: 47% 54%;
  height: 105px;
  width: 160px;
}

.client_9 {
  background-position: 102% 53%;
  height: 100px;
  width: 160px;
}

.client_10 {
  background-position: -6% 80%;
  height: 100px;
  width: 160px;
}

.client_11 {
  background-position: 49% 80%;
  height: 100px;
  width: 160px;
}

.client_12 {
  background-position: 102% 80%;
  height: 100px;
  width: 160px;
}

.client_13 {
  background-position: -6% 105%;
  height: 100px;
  width: 160px;
}

.client_14 {
  background-position: 48% 105%;
  height: 100px;
  width: 160px;
}

.client_15 {
  background-position: 102% 105%;
  height: 100px;
  width: 160px;
}

.all_client {
  max-width: 90%;
  padding-bottom: 5%;
}

.map, .all_country {
  background-color: #fff6e7;
  padding-top: 7%;
  padding-bottom: 10%;
}

.all_country {
  padding-left: 10%;
  padding-bottom: 15%;
}

.address {
  display: inline-block;
  position: absolute;
}

.address p{
  font-size: 1.3em;
}

.map img, .all_country img{
  max-width: 95%;
}

.all_country img{
  width: 60%;
  padding-bottom: 5%;
}

.pais_titulo {
  font-weight: bold;
  color: #3e3f3e;
  font-size: 1.2em;
}

.pais_capital {
  color: #3e3f3e;
  font-size: 1em;
}

.pais_1, .pais_2, .pais_3, .pais_4, .pais_5, .pais_6, .pais_7 {
  width: 20%;
  line-height: 145%;
  text-align: left;
  position: absolute;
}

.pais_1 {
  top: 17.5%;
  left: 60%;
}

.pais_2 {
  top: 22.5%;
  left: 37%;
}

.pais_3 {
  top: 38.5%;
  left: 30.5%;
}

.pais_4 {
  top: 43.5%;
  left: -2.5%;
  text-align: right;
}

.pais_5 {
  top: 47.5%;
  left: 0.5%;
  text-align: right;
}

.pais_6 {
  top: 59%;
  left: 5.5%;
  text-align: right;
}

.pais_7 {
  top: 52.5%;
  left: 2.0%;
  text-align: right;
}

.map_2 {
  top: 55%;
  left: 58%;
}

.map_1{
  top: 56%;
  left: 64%;
}


.map_3 {
  top: 54%;
  left: 55%;
}

.map_4 {
  top: 53%;
  left: 60%;
}

.map_5 {
  top: 59%;
  left: 64%;
}

.map_6 {
  top: 57%;
  left: 65%;
}

.map_7 {
  top: 57%;
  left: 66%;
}

#accordion {
  display: none;
}

#accordion h3#azul {
  background: rgba(61, 97, 167, 0.8) !important;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: #FFFFFF;
  text-shadow: 0 0px 0px;
  font-weight: 100;
  font-size: 1.5em;
  text-align: center;
  border: 0px; 
}

#accordion h3#naranja {
  background: rgba(244, 156, 59, 0.8) !important;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: #FFFFFF;
  text-shadow: 0 0px 0px;
  font-weight: 100;
  font-size: 1.5em;
  text-align: center;
  border: 0px; 

}

#accordion div {
    background: none !important;
}


textarea{
   max-width:395px;
   min-width:395px;
   max-height:195px;
   min-height:195px;
   margin-top: 100px;

}

.fondo{
  width:100%; 
  /*background-image: url('/images/background.png'); no-repeat;  */

  height:800px; /* poner aqui auto */ 
  text-align: center;


}

.titulo
{
  padding-top: 1.5em;
  padding-left: 1em;
  text-align: left;
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  font-size: 3em;
}

.cuadro{
  background: rgba(61, 97, 167, 0.7);
  max-width: 900px;
  height: 500px;
  margin: 20% 20% 20% 10%;
  margin: auto;
  margin-top: 100px; 
}

.campos{
  width: 100%;
  color: white;
  font-size: 160%;
  display: inline-block;
  line-height: 200%;
}

.divs{
    width: 47%;
    margin-left: 15px; 
}

/*
.display {
    display: inline-block;
}
*/

.situar{
    margin-top: -250px;
    margin-left: 461px;
}


.boton_enviar {
    width: 100%; 
    height: 100px;
}

.div_submit{
  background-color: #eb5c29;
  width: 140px;
  color: #FFFFFF;
  font-size: 1.7em;
  padding: 5px;
  text-align: center;
  border: none;
  margin-left: -100px;
  margin-top: -200px;
}

.centrar{
  margin-top: 45px;
  margin-left: -50px;
}

.bajar{
  padding-top: 40px;


 } 

.izquierda{
  text-align: left;
}

.mas{
  width: 400px;
}

.izquierda2{
  margin-left: 9px;
  text-align: left;

}

.errores{
  display: none;
  background: #ed5565;
  padding: 7px;
  position: absolute;
  color: #fff;
  box-shadow: 0 0 8px rgba(0,0,0,0);
  margin-left:  320px;
  margin-top: -80px;

}

.error_msj{
  display: none;
  background: #ed5565;
  padding: 7px;
  position: absolute;
  color: #fff;
  box-shadow: 0 0 8px rgba(0,0,0,0);
  margin-left:  300px;
  margin-top: -253px;
}

.pos{
  margin-left: 300px;
}

.exitoso{
  font-size: 15px;
  color: green;
  text-align: center; 
}

.no_exitoso{
  font-size: 15px;
  color: red;
  text-align: center;
}

#guion_ingles{
  margin-left: -47px;
}

.error_msj_ingles{
  margin-left:  320px;
  display: none;
  background: #ed5565;
  padding: 7px;
  position: absolute;
  color: #fff;
  box-shadow: 0 0 8px rgba(0,0,0,0);
  margin-top: -253px;
}

.errores_ingles{
  display: none;
  background: #ed5565;
  padding: 7px;
  position: absolute;
  color: #fff;
  box-shadow: 0 0 8px rgba(0,0,0,0);
  margin-left:  290px;
  margin-top: -80px;

}