
.container {
  padding-left: -20px !important;
}

.row_scroller {
  width: 90%; 	
  line-height: 1;
  padding-left: 5%;
  padding-right: 5%;
  display: inline-block;
  background-color: #fff6e7;
}

.content-panel {
	background-color: #fff6e7;
}

.menu_scroller {
  max-width: 200px;
  min-width: 170px;
  float: left;
  min-height: 1px;
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #000000 !important;
}

.menu_scroller img{
  float: left;
  width: 45px !important;
  padding-right: 5px;
}

.menu_scroller p {
  top: 10px !important;
  position: relative !important;
  font-size: 0.9em;
  width: 135px;
  margin-left: 10px;
  height: 30px;
}

.long_text p{
  width: 160px;
}

.serv_1 {
	background: url(../../../../images/serv_1_voz-01.png) center center no-repeat;
	height: 462px;
}

.serv_2 {
	background: url(../../../../images/serv_5-01.png) center center no-repeat;
	height: 462px;
}

.serv_3 {
	background: url(../../../../images/serv_3-01.png) center center no-repeat;
	height: 462px;
}

.serv_4 {
	background: url(../../../../images/serv_4-01.png) center center no-repeat;
	height: 462px;
}

.serv_5 {
	background: url(../../../../images/serv_5-01.png) center center no-repeat;
	height: 462px;
}

.serv_6 {
	background: url(../../../../images/serv_3-01.png) center center no-repeat;
	height: 462px;
}

.serv_7 {
	background: url(../../../../images/serv_7-01.png) center center no-repeat;
	height: 462px;
}

.serv_8 {
	background: url(../../../../images/serv_8-01.png) center center no-repeat;
	height: 462px;
}

.serv_9 {
	background: url(../../../../images/serv_4-01.png) center center no-repeat;
	height: 462px;
}

.serv_1 p, .serv_2 p, .serv_3 p, .serv_4 p, .serv_5 p, .serv_6 p, .serv_7 p , .serv_8 p, .serv_9 p{
	color: #FFFFFF;
	font-size: 2em;
	padding: 5%;
	font-weight: bold;
}


