@media (min-width: 980px) and (max-width: 1020px){

	.row_scroller {
		line-height: 1;
		display: inline-block;
		background-color: #fff6e7;
		width: 90%;
		padding-left: 5%;
        padding-right: 5%;
	}
	.menu_scroller {
		max-width: 200px;
		min-width: 170px;
		float: left;
		min-height: 1px;
		margin-left: 5px;
		margin-bottom: 20px;
		margin-top: 20px;
		color: #000000 !important;
	}
}

@media (min-width: 942px) and (max-width: 979px){

	.row_scroller {
		line-height: 1;
		display: inline-block;
		width: 118%;
		padding-left: 5%;
        padding-right: 0%;
	}
	.menu_scroller {
		max-width: 200px;
		min-width: 170px;
		float: left;
		min-height: 1px;
		margin-left: 0px;
		margin-bottom: 20px;
		margin-top: 20px;
		color: #000000 !important;
	}
}

@media (min-width: 804px) and (max-width: 870px){

	.row_scroller {
		line-height: 1;
		display: inline-block;
		width: 100%;
		padding-left: 0%;
        padding-right: 0%;
	}
	.menu_scroller {
		max-width: 200px;
		min-width: 170px;
		float: left;
		min-height: 1px;
		margin-left: 11px;
		margin-bottom: 20px;
		margin-top: 20px;
		color: #000000 !important;
	}
}

@media (min-width: 770px) and (max-width: 803px){

	.row_scroller {
		line-height: 1;
		display: inline-block;
		width: 100%;
		padding-left: 0%;
        padding-right: 0%;
	}
	.menu_scroller {
		max-width: 200px;
		min-width: 170px;
		float: left;
		min-height: 1px;
		margin-left: 11px;
		margin-bottom: 20px;
		margin-top: 20px;
		color: #000000 !important;
	}
}


@media (min-width: 740px) and (max-width: 769px){

	.row_scroller {
		line-height: 1;
		display: inline-block;
		width: 100%;
		padding-left: 0%;
        padding-right: 0%;
	}
	.menu_scroller {
		max-width: 200px;
		min-width: 170px;
		float: left;
		min-height: 1px;
		margin-left: 1.5%;
		margin-bottom: 20px;
		margin-top: 20px;
		color: #000000 !important;
	}
}

@media (min-width: 615px) and (max-width: 739px){

	.row_scroller {
		line-height: 1;
		display: inline-block;
		width: 100%;
		padding-left: 0%;
        padding-right: 0%;
	}
	.menu_scroller {
		max-width: 200px;
		min-width: 170px;
		float: left;
		min-height: 1px;
		margin-left: 5%;
		margin-bottom: 20px;
		margin-top: 20px;
		color: #000000 !important;
	}
}

@media (min-width: 570px) and (max-width: 614px){

	.row_scroller {
		line-height: 1;
		display: inline-block;
		width: 100%;
		padding-left: 0%;
        padding-right: 0%;
	}
	.menu_scroller {
		max-width: 200px;
		min-width: 170px;
		float: left;
		min-height: 1px;
		margin-left: 15%;
		margin-bottom: 20px;
		margin-top: 20px;
		color: #000000 !important;
	}
}

@media (min-width: 475px) and (max-width: 569px){

	.row_scroller {
		line-height: 1;
		display: inline-block;
		width: 100%;
		padding-left: 0%;
        padding-right: 0%;
	}
	.menu_scroller {
		max-width: 200px;
		min-width: 170px;
		float: left;
		min-height: 1px;
		margin-left: 10%;
		margin-bottom: 20px;
		margin-top: 20px;
		color: #000000 !important;
	}
}


