@media (min-width: 768px) and (max-width: 1020px){
  .container {
    padding-top: 0 !important;
  }

  .cols {
    width: 33.3333333%;
  }

  .row-fluid .cols {
    display: inline-table;
    min-height: 30px;
    float: left;
    margin-left: 0%;
  }
}

@media (min-width: 257px) and (max-width: 767px){
  .paragraph {
	margin-top: 15px;
	height: 100px;
  }
  img.logo {
	width: 90%;
	margin-left: 5%;
  }
}

@media (min-width: 768px) and (max-width: 910px){
    li#ima_6
    {
        /*margin-top: 38px !important;*/
    } 
}

@media (max-width: 767px){
    .footer
    {
        height: 290px;
    } 
}

@media (min-width: 768px) and (max-width: 1199px){

	.row-fluid .span9 {
		width: 74.30939226519337% !important;
		float: right !important;
		margin-top: -100px !important;
	}
	.row-fluid .span3 {
		width: 22.92817679558011% !important;
		float: none !important;
	}
}



@media (min-width: 980px) and (max-width: 1020px){

	.row_scroller {
		line-height: 1;
		display: table-cell;
		background-color: #fff6e7;
		width: 95%;
		padding-left: 5%;
        padding-right: 0%;
	}
	.menu_scroller {
		max-width: 200px;
		min-width: 170px;
		float: left;
		min-height: 1px;
		margin-left: 5px;
		margin-bottom: 20px;
		margin-top: 20px;
		color: #000000 !important;
	}
}

@media (min-width: 942px) and (max-width: 979px){
	.span12 {
	    width: auto !important;
	 }
	.row_scroller {
		line-height: 1;
		display: table;
		width: 95%;
		padding-left: 5%;
        padding-right: 0%;
	}
	.menu_scroller {
		max-width: 200px;
		min-width: 170px;
		float: left;
		min-height: 1px;
		margin-left: 0px;
		margin-bottom: 20px;
		margin-top: 20px;
		color: #000000 !important;
	}
}

@media (min-width: 804px) and (max-width: 941px){
	.span12 {
	    width: auto !important;
	 }
	.row_scroller {
		line-height: 1;
		display: table;
		width: 100%;
		padding-left: 0%;
        padding-right: 0%;
	}
	.menu_scroller {
		max-width: 200px;
		min-width: 170px;
		float: left;
		min-height: 1px;
		margin-left: 11px;
		margin-bottom: 20px;
		margin-top: 20px;
		color: #000000 !important;
	}
}



@media (min-width: 864px) and (max-width: 930px){
	.mision_quienes_somos {
	  font-size: 1.3em;
	}
	.vision_quienes_somos {
	  font-size: 1.3em;
	}
}

@media (min-width: 767px) and (max-width: 863px){
	.mision_quienes_somos {
	  font-size: 1.3em;
	}
	.vision_quienes_somos {
	  font-size: 1.3em;
	}
}

@media (min-width: 681px) and (max-width: 766px){
	.mision_quienes_somos {
	  font-size: 1.2em;
	}
	.vision_quienes_somos {
	  top: 74%;
	  font-size: 1.2em;
	}
}

@media (min-width: 652px) and (max-width: 680px){
	.mision_quienes_somos {
	  font-size: 1.1em;
	}
	.vision_quienes_somos {
	  top: 74%;
	  font-size: 1.1em;
	}
}

@media (min-width: 604px) and (max-width: 651px){
	.mision_quienes_somos {
	  font-size: 1em;
	}
	.vision_quienes_somos {
	  top: 74%;
	  font-size: 1em;
	}
}


@media (min-width: 571px) and (max-width: 603px){
	.mision_quienes_somos {
	  top: 45%;
	  font-size: 0.94em;
	  width: 50%;
	}
	.vision_quienes_somos {
	  top: 70%;
	  font-size: 0.94em;
	  width: 50%;
	}
}


@media (min-width: 771px) and (max-width: 865px){
	.descripcion_quienes_somos {
	  top: 12%;
	  font-size: 1.3em;

	}
}

@media (min-width: 481px) and (max-width: 570px){
	.container_quienes_somos {
	  display: none;

	}
	.container_quienes_somos_oculta {
	  display: block;
	  height: 500px;
	}
	.mision_quienes_somos {
		position: absolute;
		top: 48%;
		width: 90%;
		padding-left: 5%;
		font-size: 1.2em;
		line-height: 20px;
		text-align: justify;
	}
	.vision_quienes_somos {
		position: absolute;
		top: 70%;
		width: 90%;
		padding-left: 5%;
		font-size: 1.2em;
		line-height: 20px;
		text-align: justify;
	}
	.descripcion_quienes_somos {
		width: 90%;
		text-align: justify;
		font-size: 1.2em !important;
	}
	.descripcion_quienes_somos p {
		padding-bottom: 2%;	
	}

}



@media (min-width: 741px) and (max-width: 770px){
	.descripcion_quienes_somos {
	  top: 10%;
	  font-size: 1.3em;

	}
}

@media (min-width: 656px) and (max-width: 740px){
	.descripcion_quienes_somos {
	  top: 7%;
	  font-size: 1.2em;

	}
}

@media (max-width: 655px){
	.descripcion_quienes_somos {
	  top: 4%;
	  font-size: 1.1em;

	}
}

@media (min-width: 770px) and (max-width: 803px){
	.span12 {
	    width: auto !important;
	 }
	.row_scroller {
		line-height: 1;
		display: table;
		width: 100%;
		padding-left: 0%;
        padding-right: 0%;
	}
	.menu_scroller {
		max-width: 200px;
		min-width: 170px;
		float: left;
		min-height: 1px;
		margin-left: 11px;
		margin-bottom: 20px;
		margin-top: 20px;
		color: #000000 !important;
	}
	.serv_1 p.text_content, .serv_2 p.text_content, .serv_3 p.text_content, .serv_4 p.text_content, .serv_5 p.text_content,
	.serv_6 p.text_content, .serv_7 p.text_content, .serv_8 p.text_content, .serv_9 p.text_content{
	    font-size: 1.5em !important;
	    color: #FFFFFF;
	    margin-bottom: 20px;
	    padding-left: 5%;
	    padding-right: 27%;
	    height:auto; 
	    word-wrap: break-word; 
	    vertical-align:middle;
	}
}


@media (min-width: 740px) and (max-width: 769px){
	.span12 {
	    width: auto !important;
	 }
	.row_scroller {
		line-height: 1;
		display: table;
		width: 100%;
		padding-left: 0%;
        padding-right: 0%;
	}
	.menu_scroller {
		max-width: 200px;
		min-width: 170px;
		float: left;
		min-height: 1px;
		margin-left: 1.5%;
		margin-bottom: 20px;
		margin-top: 20px;
		color: #000000 !important;
	}
}

@media (min-width: 615px) and (max-width: 739px){
	.span12 {
	    width: auto !important;
	 }
	.row_scroller {
		line-height: 1;
		display: table;
		width: 100%;
		padding-left: 0%;
        padding-right: 0%;
	}
	.menu_scroller {
		max-width: 200px;
		min-width: 170px;
		float: left;
		min-height: 1px;
		margin-left: 5%;
		margin-bottom: 20px;
		margin-top: 20px;
		color: #000000 !important;
	}
}

@media (min-width: 570px) and (max-width: 614px){

	.row_scroller {
		line-height: 1;
		display: table;
		width: 100%;
		padding-left: 0%;
        padding-right: 0%;
	}
	.menu_scroller {
		max-width: 200px;
		min-width: 170px;
		float: left;
		min-height: 1px;
		margin-left: 15%;
		margin-bottom: 20px;
		margin-top: 20px;
		color: #000000 !important;
	}
}

@media (min-width: 475px) and (max-width: 569px){

	.row_scroller {
		line-height: 1;
		display: table;
		width: 100%;
		padding-left: 0%;
        padding-right: 0%;
	}
	.menu_scroller {
		max-width: 200px;
		min-width: 170px;
		float: left;
		min-height: 1px;
		margin-left: 10%;
		margin-bottom: 20px;
		margin-top: 20px;
		color: #000000 !important;
	}
}

@media (max-width: 320px){
	.cliente {
	  font-size: 1.5em;
	}
}

@media (max-width: 400px){
	.carousel a img {
	  width: 65% !important;
	}
}

@media (min-width: 583px) and (max-width: 770px){

	.serv_1 p.text_content, .serv_2 p.text_content, .serv_3 p.text_content, .serv_4 p.text_content, .serv_5 p.text_content,
	.serv_6 p.text_content, .serv_7 p.text_content, .serv_8 p.text_content, .serv_9 p.text_content{
	    font-size: 1.5em !important;
	    color: #FFFFFF;
	    margin-bottom: 10px;
	    padding-left: 5%;
	    padding-right: 27%;
	    height:auto; 
	    word-wrap: break-word; 
	    vertical-align:middle;
	}
}

@media (min-width: 470px) and (max-width: 582px){

	.serv_1 p.text_content, .serv_2 p.text_content, .serv_3 p.text_content, .serv_4 p.text_content, .serv_5 p.text_content,
	.serv_6 p.text_content, .serv_7 p.text_content, .serv_8 p.text_content, .serv_9 p.text_content{
	    font-size: 1.3em !important;
	    color: #FFFFFF;
	    margin-bottom: 10px;
	    padding-left: 5%;
	    padding-right: 27%;
	    height:auto; 
	    word-wrap: break-word; 
	    vertical-align:middle;
	}

	img.serv_ima {
	    float: right;
	    width: 90px;
	}
}

@media (max-width: 469px){

	.serv_1 p.text_content, .serv_2 p.text_content, .serv_3 p.text_content, .serv_4 p.text_content, .serv_5 p.text_content,
	.serv_6 p.text_content, .serv_7 p.text_content, .serv_8 p.text_content, .serv_9 p.text_content{
	    font-size: 1.1em !important;
	    color: #FFFFFF;
	    margin-bottom: 5px;
	    padding-left: 5%;
	    padding-right: 16%;
	    height:auto; 
	    word-wrap: break-word; 
	    vertical-align:middle;
	}

	img.serv_ima {
	    float: right;
	    width: 50px;
	    display: none;
	}
}


