@media (min-width: 768px) and (max-width: 1020px){
  .container {
    padding-top: 0 !important;
  }

  .cols {
    width: 33.3333333%;
  }

  .row-fluid .cols {
    display: inline-table;
    min-height: 30px;
    float: left;
    margin-left: 0%;
  }
}

@media (min-width: 257px) and (max-width: 767px){
  .paragraph {
	margin-top: 15px;
	height: 100px;
  }
  img.logo {
	width: 90%;
	margin-left: 5%;
  }
}



@media (min-width: 980px) and (max-width: 1020px){

	.row_scroller {
		line-height: 1;
		display: table-cell;
		background-color: #fff6e7;
		width: 95%;
		padding-left: 5%;
        padding-right: 0%;
	}
	.menu_scroller {
		max-width: 200px;
		min-width: 170px;
		float: left;
		min-height: 1px;
		margin-left: 5px;
		margin-bottom: 20px;
		margin-top: 20px;
		color: #000000 !important;
	}
}

@media (min-width: 942px) and (max-width: 979px){
	.span12 {
	    width: auto !important;
	 }
	.row_scroller {
		line-height: 1;
		display: table;
		width: 95%;
		padding-left: 5%;
        padding-right: 0%;
	}
	.menu_scroller {
		max-width: 200px;
		min-width: 170px;
		float: left;
		min-height: 1px;
		margin-left: 0px;
		margin-bottom: 20px;
		margin-top: 20px;
		color: #000000 !important;
	}
}

@media (min-width: 804px) and (max-width: 941px){
	.span12 {
	    width: auto !important;
	 }
	.row_scroller {
		line-height: 1;
		display: table;
		width: 100%;
		padding-left: 0%;
        padding-right: 0%;
	}
	.menu_scroller {
		max-width: 200px;
		min-width: 170px;
		float: left;
		min-height: 1px;
		margin-left: 11px;
		margin-bottom: 20px;
		margin-top: 20px;
		color: #000000 !important;
	}
}

@media (min-width: 770px) and (max-width: 803px){
	.span12 {
	    width: auto !important;
	 }
	.row_scroller {
		line-height: 1;
		display: table;
		width: 100%;
		padding-left: 0%;
        padding-right: 0%;
	}
	.menu_scroller {
		max-width: 200px;
		min-width: 170px;
		float: left;
		min-height: 1px;
		margin-left: 11px;
		margin-bottom: 20px;
		margin-top: 20px;
		color: #000000 !important;
	}
	.serv_1 p.text_content, .serv_2 p.text_content, .serv_3 p.text_content, .serv_4 p.text_content, .serv_5 p.text_content,
	.serv_6 p.text_content, .serv_7 p.text_content, .serv_8 p.text_content, .serv_9 p.text_content{
	    font-size: 1.5em !important;
	    color: #FFFFFF;
	    margin-bottom: 20px;
	    padding-left: 5%;
	    padding-right: 27%;
	    height:auto; 
	    word-wrap: break-word; 
	    vertical-align:middle;
	}
}


@media (min-width: 740px) and (max-width: 769px){
	.span12 {
	    width: auto !important;
	 }
	.row_scroller {
		line-height: 1;
		display: table;
		width: 100%;
		padding-left: 0%;
        padding-right: 0%;
	}
	.menu_scroller {
		max-width: 200px;
		min-width: 170px;
		float: left;
		min-height: 1px;
		margin-left: 1.5%;
		margin-bottom: 20px;
		margin-top: 20px;
		color: #000000 !important;
	}
}

@media (min-width: 615px) and (max-width: 739px){
	.span12 {
	    width: auto !important;
	 }
	.row_scroller {
		line-height: 1;
		display: table;
		width: 100%;
		padding-left: 0%;
        padding-right: 0%;
	}
	.menu_scroller {
		max-width: 200px;
		min-width: 170px;
		float: left;
		min-height: 1px;
		margin-left: 5%;
		margin-bottom: 20px;
		margin-top: 20px;
		color: #000000 !important;
	}
}

@media (min-width: 570px) and (max-width: 614px){

	.row_scroller {
		line-height: 1;
		display: table;
		width: 100%;
		padding-left: 0%;
        padding-right: 0%;
	}
	.menu_scroller {
		max-width: 200px;
		min-width: 170px;
		float: left;
		min-height: 1px;
		margin-left: 15%;
		margin-bottom: 20px;
		margin-top: 20px;
		color: #000000 !important;
	}
}

@media (min-width: 475px) and (max-width: 569px){

	.row_scroller {
		line-height: 1;
		display: table;
		width: 100%;
		padding-left: 0%;
        padding-right: 0%;
	}
	.menu_scroller {
		max-width: 200px;
		min-width: 170px;
		float: left;
		min-height: 1px;
		margin-left: 10%;
		margin-bottom: 20px;
		margin-top: 20px;
		color: #000000 !important;
	}
}

@media (max-width: 320px){
	.cliente {
	  font-size: 1.5em;
	}
}

@media (max-width: 400px){
	.carousel a img {
	  width: 65% !important;
	}
}

@media (min-width: 583px) and (max-width: 770px){

	.serv_1 p.text_content, .serv_2 p.text_content, .serv_3 p.text_content, .serv_4 p.text_content, .serv_5 p.text_content,
	.serv_6 p.text_content, .serv_7 p.text_content, .serv_8 p.text_content, .serv_9 p.text_content{
	    font-size: 1.5em !important;
	    color: #FFFFFF;
	    margin-bottom: 10px;
	    padding-left: 5%;
	    padding-right: 27%;
	    height:auto; 
	    word-wrap: break-word; 
	    vertical-align:middle;
	}
}

@media (min-width: 470px) and (max-width: 582px){

	.serv_1 p.text_content, .serv_2 p.text_content, .serv_3 p.text_content, .serv_4 p.text_content, .serv_5 p.text_content,
	.serv_6 p.text_content, .serv_7 p.text_content, .serv_8 p.text_content, .serv_9 p.text_content{
	    font-size: 1.3em !important;
	    color: #FFFFFF;
	    margin-bottom: 10px;
	    padding-left: 5%;
	    padding-right: 27%;
	    height:auto; 
	    word-wrap: break-word; 
	    vertical-align:middle;
	}

	img.serv_ima {
	    float: right;
	    width: 90px;
	}
}

@media (max-width: 469px){

	.serv_1 p.text_content, .serv_2 p.text_content, .serv_3 p.text_content, .serv_4 p.text_content, .serv_5 p.text_content,
	.serv_6 p.text_content, .serv_7 p.text_content, .serv_8 p.text_content, .serv_9 p.text_content{
	    font-size: 1.1em !important;
	    color: #FFFFFF;
	    margin-bottom: 5px;
	    padding-left: 5%;
	    padding-right: 16%;
	    height:auto; 
	    word-wrap: break-word; 
	    vertical-align:middle;
	}

	img.serv_ima {
	    float: right;
	    width: 50px;
	    display: none;
	}
}


